@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 272 31% 98%;
    --foreground: 272 73% 1%;
    --muted: 272 36% 87%;
    --muted-foreground: 272 0% 35%;
    --popover: 272 31% 98%;
    --popover-foreground: 272 73% 1%;
    --card: 272 31% 98%;
    --card-foreground: 272 73% 1%;
    --border: 272 8% 90%;
    --input: 272 8% 90%;
    --primary: 272 8% 53%;
    --primary-foreground: 0 0% 0%;
    --secondary: 272 15% 84%;
    --secondary-foreground: 272 15% 24%;
    --accent: 272 15% 84%;
    --accent-foreground: 272 15% 24%;
    --destructive: 15 96% 28%;
    --destructive-foreground: 15 96% 88%;
    --ring: 272 8% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 272 50% 1%;
    --foreground: 272 20% 97%;
    --muted: 272 36% 13%;
    --muted-foreground: 272 0% 65%;
    --popover: 272 50% 1%;
    --popover-foreground: 272 20% 97%;
    --card: 272 50% 1%;
    --card-foreground: 272 20% 97%;
    --border: 272 8% 10%;
    --input: 272 8% 10%;
    --primary: 272 8% 53%;
    --primary-foreground: 0 0% 0%;
    --secondary: 272 3% 17%;
    --secondary-foreground: 272 3% 77%;
    --accent: 272 3% 17%;
    --accent-foreground: 272 3% 77%;
    --destructive: 15 96% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 272 8% 53%;
  }
}



  
@layer base {
  * {
    @apply border-border;
    font-family: 'Clash Display', sans-serif;
    letter-spacing: 1.5;

  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    font-family: "poppins", sans-serif;
  }
}	
